/* GENERAL STYLING */
html {margin-top:0px !important;}
#page {margin-top:10px;}
#secondary {width:190px; border:1px solid #999; padding:5px; margin-top:0px;}


/* HEADER */
#header-social-links {position:relative; float:right; margin-top:0px; margin-right:20px; margin-bottom:20px; width:250px;}
#header-social-links div {position:relative; float:left; margin-right:10px; width:100%; margin-bottom:5px;}
#header-social-title {width:100%; margin-bottom:5px;}
hgroup {width:600px; position:relative; float:left;}
.nav-menu li a {padding-left:5px; padding-right:5px;}


/* HOMEPAGE */
#featured-artist, #featured-artist div {position:relative; float:left;}
#featured-artist {width:240px; padding:5px; border:1px solid #999;}
#featured-artist .featured-title {width:230px; background:#666; color:#fff; padding:5px;}
#featured-artist #featured-img img {width:240px;}
#featured-artist #featured-name {position:absolute; width:100%; text-align:center; top:30px; color:#fff; opacity:0.7; font-size:22px;}


/* ARTIST INDEX */
#artist-index {width:750px;}
#artist-index, .artist-content {position:relative; float:left; margin-bottom:20px;}
#artist-index div {position:relative; float:left;}
#artist-index .artist-title {font-weight:bold;}
#artist-index .artist-img, #artist-index .artist-img img {width:30px;}
#artist-index .artist-img {margin-right:10px;}
#index-links {width:100%; margin-bottom:20px; text-align:center;}
#index-links a {width:25px; position:relative; float:left;}
.artist-section {margin-top:5px; margin-bottom:5px;}
.index-single-cont {position:relative; float:left; width:100%; margin-bottom:15px;}
.index-single-cont .index-section-title {width:100%; font-weight:bold;}


/* BUSINESS LISTINGS PAGE */
.wpbdp-msg {display:none;}
.entry-content .wpbdp-bar {padding-top:10px; background:#FAFAFA; border:1px solid #999;}
.entry-content .wpbdp-main-links input {margin-right:5px;}
.entry-content #wpbdmsearchsubmit {margin-left:5px;}
.entry-content #wpbdp-categories ul li {list-style:none;}
.entry-content .wpbdp-page-content .wpbdp-listing {background:#FAFAFA; border:1px solid #999; margin-bottom:15px;}


/* SUBMIT MUSIC PAGE */
#gform_wrapper_1 {width:750px; position:relative; float:left; margin-top:0px; background:#FAFAFA;}
#gform_fields_1 {padding:10px; border:1px solid #999;}
#gform_fields_1 input, #gform_fields_1 select {background:#E6E6E6;}
#gform_fields_1 input:focus, #gform_fields_1 select:focus {background:#fff; border:1px solid #999;}


/* ALBUM REVIEWS */
.page-template-album-reviews-php .album-review-cont {position:relative; float:left; width:725px; padding:10px; margin-bottom:25px;
	border:1px solid #999;}
.page-template-album-reviews-php .album-review-cont div {position:relative;}
.page-template-album-reviews-php .album-review-title {position:relative; float:left; width:715px; margin-bottom:10px; background:#efefef; 
	border:1px solid #666; padding:5px;}
.page-template-album-reviews-php .album-review-title a {color:#666; font-weight:bold; font-size:22px;}
.page-template-album-reviews-php .album-review-title a:hover {color:#000;}
.page-template-album-reviews-php .album-review-img {float:left; width:200px;}
.page-template-album-reviews-php .album-review-info div {margin-bottom:5px; float:left; width:500px;}
.page-template-album-reviews-php .album-review-info span {font-weight:bold;}
.page-template-album-reviews-php .album-review-info .ratings {height:50px; padding-top:25px;}
.page-template-album-reviews-php .album-review-info .ratings article {height:50px;}
.page-template-album-reviews-php .album-review-info .ratings article .entry-content img {margin-right:5px; background:#0101DF;}
.page-template-album-reviews-php article .entry-header {display:none;}
.page-template-album-reviews-php .album-review-content {position:relative; float:left; width:100%; margin-top:20px; overflow:hidden; display:none;}
.page-template-album-reviews-php .expand-review, .page-template-album-reviews-php .retract-review {float:left; margin-top:10px; cursor:pointer;}
.page-template-album-reviews-php .retract-review {display:none;}



/* SINGLE ARTIST PAGE */
.single-artist-cont div {position:relative; float:left; width:400px; margin-bottom:20px; line-height:150%;}
.single-artist-cont {position:relative; float:left;}
.single-artist-cont span {font-weight:bold;}
.single-artist-cont .single-artist-title {width:400px; font-weight:bold; font-size:24px; margin-bottom:20px;}
.single-artist-cont .single-artist-image {width:175px; float:right; text-align:right;}



/* EVENTS */
.page-template-default #comments {display:none;}
#event-o-matic {padding:10px; border:1px solid #999; background:#FAFAFA;}
#event-o-matic input, #event-o-matic input.required, #event-o-matic textarea, #event-o-matic textarea.required,
	#event-o-matic table td input, #event-o-matic #image_file, #event-o-matic .url, #event-o-matic .number {color:#666; background:#E6E6E6;}
#event-o-matic input:focus, #event-o-matic input.required:focus, #event-o-matic textarea:focus, #event-o-matic textarea.required:focus,
	#event-o-matic table td input:hover, #event-o-matic #image_file:hover, #event-o-matic .url:hover, #event-o-matic .number:hover {color:#000; background:#fff; border:1px solid #999;}
#event-o-matic small {width:100%; position:relative; float:left;}
.eom_event {padding:10px; border:1px solid #999; position:relative;}
.eom_event .attachment-thumbnail {position:absolute; right:10px;} 
.eom_event h1, .eom_event p {margin-top:0px; width:450px;}



